/.cproject
/.project
/CMakeFiles
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/xhttp
*~
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
